/* style links */
.entry-content a {
    border-bottom: .125em dashed rgb(13, 200, 106);
}

.entry-content a:hover {
    border-bottom: .125em solid rgb(13, 200, 106);
}

/* style figures */
figure h4 {
    margin-bottom: 0;
}

figure a {
    border-bottom: none;
}

figure p {
    font-size: .9em;
    font-style: italic;
    margin-top: 0;
}

