/* style links */
.entry-content a {
    border-bottom: .125em dashed #0DC86A;
}

.entry-content a:hover {
    border-bottom: .125em solid #0DC86A;
}

/* style figures */
figure h4 {
    margin-bottom: 0;
}

figure a {
    border-bottom: none !important;
}

figure p {
    font-size: .9em;
    font-style: italic;
    margin-top: 0;
}

figcaption {
    border-left: 0.25em solid;
    padding: 0 0 0 0.5em;
}

/* style tables */
.table_title {
    background-color: #37474f;
    color: white;
}